################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
__pycache__/
*.pyc
.venv/
venv/
config.yaml
*.db
/snapshots/

